#principal{
   
   padding:10px 10px 10px 50px;
   margin-top: 15px;
   background-color:teal;  
   box-shadow: 10px 10px 5px 0px #999999;
   border-radius: 10px;
   color: #fff;
   font-weight: bold;
}

h1{
   text-align: center;
   color: teal;
}
body{
   background-color: gainsboro;
}
td{
   padding: 10px;
}
#comprobar{
   background-color: gold;
   font-weight: bold;
}