#principal {
    padding: 10px 10px 10px 50px;
    margin-top: 15px;
    background-color: gainsboro;
    box-shadow: 10px 10px 5px 0px #999999;
    border-radius: 10px;
    color: teal;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: gainsboro;
}

body {
    background-color: teal;
}

td {
    padding: 10px;
}

#comprobar {
    background-color: grey;
    font-weight: bold;
    color: #fff;
}

input {
    color: teal;
}

select {
    color: teal;
}

label {
    color: orangered;
}