/*clase jquery de la función animate*/
/*estilos para ejemplo nro uno*/
/*imagen{
   position: relative;
}
div{
   border: 2px dashed #000;
   position: absolute;
   top: 170px;
   width: 100%;
}

*/
/*estilos para ejemplo dos*/
img{
   opacity:0.5;
}
